<div class="row featurette" id="practices">
  <div class="col-md-7">
    <h2 class="featurette-heading">Practices</h2>
    <p class="lead">
      All members are encouraged to practice with their home teams.<br />
      Prior to race day, there will be mandatory team practices (at the <a href="http://goo.gl/maps/A0ub8" target="_blank">World's Fair Marina</a>) to review the race plan.
    </p>

  </div>
  <div class="col-md-5">
    <img class="featurette-image img-responsive" src="<%= asset_path('kevin_and_tony_race.jpg')%>" >
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette" id="races">
  <div class="col-md-5">
    <img class="featurette-image img-responsive" src="<%= asset_path('rhode_island_boat_side.jpg')%>" >
  </div>
  <div class="col-md-7">
    <h2 class="featurette-heading">Races</h2>
    <p class="lead">
      <ul>
        <li><a href="http://riverfront.org/events/riverfront-dragon-boat-asian-festival" target="_blank">Riverfront Dragon Boat Festival</a> - August 16-17, 2013</li>
        <li><a href="http://www.dragonboatri.com/" target="_blank">Rhode Island Chinese Dragon Boat Races</a> - September 7, 2013</li>
        <li><a href="http://www.gwndragonboat.com/Default.asp?id=18&l=1" target="_blank">Mercer County Dragon Boat Festival</a> - September 14-15, 2013</li>
      </ul>
    </p>
  </div>
</div>
